<h2>Welcome!</h2>
<p>WordCloud is an app for converting a text file into a randomly drawn word cloud, where a word's relative size in the cloud is proportional to its relative frequency in the document. Word cloud images can be saved as a PNG with a transparent background.</p>
<p>To get started, load in a text file you'd like to work with. Alternatively, select the provided example text file to see how WordCloud works.</p>
<p>Loading in a plain text (.txt) or rich text (.rtf) file will provide the best results!</p>
