@import bootstrap-custom
$primary-color: #1C1C2F
$secondary-color: #E3E3E3

html, body
    background-color: $secondary-color

header
    background-color: $primary-color
    color: #F1F1F1

.header-right
    text-align: right

@media (min-width: 768px)
    .header-row
        display: table

    .header-left
        display: table-cell
        float: none

    .header-right
        display: table-cell
        float: none

.app-title
    display: inline-block

.load-button
    display: inline-block
    margin-left: 1.5em

.btn-file-input
    position: relative
    overflow: hidden
    margin-top: -20px

.btn-file-input input[type=file]
    position: absolute
    top: 0
    right: 0
    min-width: 100%
    min-height: 100%
    filter: alpha(opacity=0)
    opacity: 0
    display: block
    cursor: inherit

.selectedfile-container
    display: inline-block
    font-size: 20px

.selected-file
    display: inline-block
    padding: 6px 8px 10px 8px
    border-radius: 3px 3px 0 0
    background-color: $secondary-color
    color: $primary-color

.heading-hr
    box-shadow: 0 1px 1px 0 lighten($primary-color, 60%)
    border-top: 1px solid lighten($primary-color, 80%)
    margin: 5px 0 10px 0

.control-panel-section
    margin: 0.8em 0
    background-color: #fff
    border-radius: 6px
    box-shadow: -1px 1px 3px 0 lighten($primary-color, 60%)

.control-panel-header
    @extend header
    padding: 0.4em 0.8em
    border-radius: 6px 6px 0 0

.control-panel-header h4
    margin: 0

.control-panel-body
    padding: 0.4em 0.8em

.list-container li
    font-size: 1.1em
    margin-bottom: 0.4em

.form-row
    margin-bottom: 1em

.canvas-region-container
    margin-bottom: 1em

.canvas-container
    padding-top: 1em

.download-button
    display: inline-block

.word-cloud-canvas
    display: block
    margin-top: 1em
    background-color: #fff

.selected
    font-style: italic
    font-weight: bold
    .btn-select
        cursor: initial
        background-color: #e6e6e6
        border-color: #adadad
